{% extends "ana.html" %}
{% block icerik %}

<h3 class="mb-4">El Kitabı</h3>

<div class="row g-3">

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h6>Yönetim Sistemleri El Kitabı</h6>
                <button class="btn btn-primary w-100">Görüntüle</button>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h6>Politikalar</h6>
                <button class="btn btn-primary w-100">Görüntüle</button>
            </div>
        </div>
    </div>

</div>

{% endblock %}